<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gpit.bd.liberation"
    android:versionCode="9"
    android:versionName="1.0.1" >

    <application
       
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name="MainActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

       
        <activity
            android:name="allMedia"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="events"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="intro"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="media"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="media2"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="media3"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="media4"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="media5"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="media6"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="search"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="sector1"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="sector2"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="sector3"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="sector4"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="sector5"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="sector6"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="sector7"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="sector8"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="sector9"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="sector10"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="sector11"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="WarSector"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        
         <activity
            android:name="CalendarViewSampleActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        
         <activity
            android:name="CalendarView"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        
         <activity
            android:name="CalendarAdapter"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
    </application>

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="15" />

</manifest>